modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 3001

[[ports]]
localPort = 22212
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BIqFaaoQ3aJJuWsZNkPYk6wMsT498_1jNXCNsLxwE-6Q7uKfkZZSUKpjdNLcNx1m-C_a1nCjLaMvN-B_q3ATPF0"
VAPID_PRIVATE_KEY = "wBeS6-syWXvdtqY_X7AmcAGpXp4ZUNs1TuoYFKyJ1bQ"
VAPID_SUBJECT = "mailto:support@gillie.app"
ADMIN_CLERK_IDS = "user_3EYqiRqTXgOCHtGPbojBmcCTj5B"
