modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 22212
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BLKg4PDjtFy-vjwCCTLYIBoQc5hSNK3xqBNt_KGN97r4ygzPz3b0OwtV-VzWpSdxMeNGukVXu_IH4rgxqR5YjjM"
VAPID_PRIVATE_KEY = "NUXzWXcTjNbFzA5O_Tr8anU6_jCr_nITFPuG9aGp6Go"
VAPID_SUBJECT = "mailto:notifications@dalehollowlake.app"
